ion-fab{
    padding-bottom: 40px !important;
}

.icon-color {
    color: #f7f4f4;
    font-size: 1.9em;
}

.text{
    font-size: 0.9em;
}

.header{
    height: 59px;
    padding: 9px;
    // background: #d85a5a !important;
  }
  
  .secundary{
    --background : #d85a5a !important;
  }
  .icon-arrow-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .icon-option {
    font-size: 1.1em;
    color: #9a9a9a;
    position: absolute;
    right: 18px;
    top: 36px;
    z-index: 5000;
    margin-top: 7px;
}

.search-bar-container {
    border-bottom: 1px solid #f7f4f4;
}

.searchbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffffff !important;
    z-index: 100;
}

.divider {
    border-right: 1px solid #e5e0e0;
    width: 1px;
    height: 100%;
    text-align: center;
    margin-left: 4px;
}

.branch-text {
    top: -9px;
    position: relative;
    font-size: 0.8em;
    text-transform: uppercase;
}


ion-card {
    margin: 15px 20px;
}

ion-avatar {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

