<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start" (click)="back()">
      <ion-icon class="icon-color" name="close-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Localidades</ion-title>
  </ion-toolbar>
  <ion-toolbar class="secundary" style="height: 16px;">

  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
    <div class="search-container">
      <ion-searchbar placeholder="Buscar Localidad" mode="ios" cancelButtonText="Custom Cancel" (ionChange)="search($event)">
      </ion-searchbar>
   </div>
  
      <div *ngFor="let l of dataList"> 
          <ion-row class="custom-card" (click)="closeDialog({{l.id}})">
              <ion-col class="card-icon" size="2">
             <ion-icon class="icon-color" name="pin"></ion-icon>
              </ion-col>
              <ion-col class="card-data" size="10">
  
                  <div>{{l.name}}</div>
              </ion-col>
          </ion-row>
      </div>

</ion-content>
