
<ion-header >
  <ion-toolbar class="header">
    <!-- <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Clientes</ion-title>
    <!-- <ion-buttons slot="end" (click)="create()">
      <ion-icon class="icon-color" name="person-add"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
  
  <ion-toolbar class="secundary" style="height: 16px;">

  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">
  <ion-row justify-content-center>
    <ion-col size="11">
        <div (click)="openList()">
            <ion-icon class="product-menu-option" name="ios-arrow-down"></ion-icon>
            <ion-input class="login-input dropdown" [value]="formData.label" id="label" name="label" type="text" placeholder="Seleccione localidad" readonly="true">
            </ion-input>
        </div>
    </ion-col>
</ion-row>

    <div class="search-container">
      <ion-searchbar placeholder="Buscar Cliente" mode="ios" cancelButtonText="Custom Cancel" (ionChange)="search($event)">
      </ion-searchbar>
   </div>
  
      <!-- <div *ngFor="let ben of beneficiaries.products">  -->
      <div>
          <ion-row class="custom-card" (click)="viewDetail(ben)">
              <ion-col class="card-icon" size="2">
                <img class="img" src="../../assets/avatar.png">
              </ion-col>
              <ion-col class="card-data" size="9">
                  <div>Junior Sánchez</div>
                  <div>Sucursal la Romana</div>
              </ion-col>
              <ion-col class="icon-arrow" size="1">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
              </ion-col>
          </ion-row>
      </div>

      <div>
        <ion-row class="custom-card" (click)="viewDetail(ben)">
            <ion-col class="card-icon" size="2">
             <img class="img" src="../../assets/avatar.png">
            </ion-col>
            <ion-col class="card-data" size="9">
                <div>Junior Sánchez</div>
                <div>Sucursal la Romana</div>
            </ion-col>
            <ion-col class="icon-arrow" size="1">
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </div>

    <div>
      <ion-row class="custom-card" (click)="viewDetail(ben)">
          <ion-col class="card-icon" size="2">
           <img class="img" src="../../assets/avatar.png">
          </ion-col>
          <ion-col class="card-data" size="9">
              <div>Junior Sánchez</div>
              <div>Sucursal la Romana</div>
          </ion-col>
          <ion-col class="icon-arrow" size="1">
              <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
      </ion-row>
  </div>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="create()">
    <ion-fab-button>
      <ion-icon class="icon-color" name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
