.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.icon-color {
  color: #f7f7f7;
  font-size: 1.9em;
}

.header{
  height: 59px;
  padding: 9px;
  background: #d85a5a !important;
}

.secundary{
  --background : #d85a5a !important;
}

.img {
  width: 60px;
  height: 38px;
  border-radius: 30px;
  margin: auto;
}

.card-icon {
  border-right: 2px solid #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-data {
  padding-left: 20px;
  padding: 19px 10px;
}

.card-data>div:nth-child(1) {
  font-weight: 600;
  color: #047cbb;
}

.card-data>div:nth-child(2) {
  font-size: 0.7em;
  text-transform: uppercase;
}


.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #047cbb;
}

.custom-card {
  padding: 10px 10px;
  margin: 10px 9px;
  box-shadow: 3px 5px 5px -3px #e8e3e8;
  border-radius: 9px;
  border-top: 1px solid #f7f1f1;
  border-left: 1px solid #f7f1f1;
}

.search-container {
  margin-top: -10px;
  padding: 0px 0px;
}

ion-input,
ion-textarea {
    border-radius: 10px !important;
    background: rgba(232, 228, 228, 0.75) !important;
    --padding-bottom: 17px;
    --padding-end: 17px;
    --padding-start: 17px;
    --padding-top: 17px;
    margin-top: 5px;
    --placeholder-color: #5d5151;
    --placeholder-opacity: 1;
    font-size: 0.8em;
    width: 105%;
    margin-left: -7px;
}

.text-input-md {
    margin: 13px 0px !important;
    padding: 0;
    width: calc(100% - 8px - 8px);
}

.product-menu-option {
  font-size: 1.1em;
  color: #b5afaf;
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 5000;
}