
<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-icon class="icon-color" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Nuevo Cliente</ion-title>
    <ion-buttons slot="end" (click)="create()">
      <!-- <ion-icon class="icon-color" name="person-add"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar class="secundary" style="height: 16px;">

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    
       <ion-row justify-content-center>
            <ion-col size-xs="10" size-sm="auto" size-md="6" size-lg="8" size-xl="auto">
                <div>
                    <ion-input class="login-input" (change)="validateIdentification()" id="label" name="label" type="text" maxlength="11"
                        placeholder="Número de documento"></ion-input>
                </div>
            </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col size-xs="10" size-sm="auto" size-md="6" size-lg="8" size-xl="auto">
              <div>
                  <ion-input class="login-input" (change)="validateIdentification()" id="label" name="label" type="text" maxlength="11"
                      placeholder="Número de documento"></ion-input>
              </div>
          </ion-col>
      </ion-row>

      <ion-row justify-content-center>
        <ion-col size-xs="10" size-sm="auto" size-md="6" size-lg="8" size-xl="auto">
            <div>
                <ion-input class="login-input" (change)="validateIdentification()" id="label" name="label" type="text" maxlength="11"
                    placeholder="Número de documento"></ion-input>
            </div>
        </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size-xs="10" size-sm="auto" size-md="6" size-lg="8" size-xl="auto">
          <div>
              <ion-input class="login-input" (change)="validateIdentification()" id="label" name="label" type="text" maxlength="11"
                  placeholder="Número de documento"></ion-input>
          </div>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size-xs="10" size-sm="auto" size-md="6" size-lg="8" size-xl="auto">
          <div (click)="openList()">
              <ion-icon class="product-menu-option" name="ios-arrow-down"></ion-icon>
              <ion-input class="dropdown" [value]="formData.label" id="label" name="label" type="text" placeholder="Seleccione localidad" readonly="true">
              </ion-input>
          </div>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
        <ion-col size-sm="auto" size-md="6" size-lg="6" size-xs="6" class="ion-padding-start">
            <button id="btn_login" name="btn_login" class="center btn-acept" color="primary" ion-button round (click)="cancel()"> Cancelar </button>
        </ion-col>
        <ion-col size-sm="auto" size-md="6" size-lg="6" size-xs="6" class="ion-padding-end">
            <button id="btn_login" name="btn_login" class="center" ion-button round (click)="send()"> Continuar
            </button>
        </ion-col>
    </ion-row>
</ion-content>
