<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="clients">
            <ion-icon class="icon-color" name="people"></ion-icon>
            <ion-label>Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="branches">
            <ion-icon class="icon-color" name="business"></ion-icon>
            <ion-label>Sucursales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="report">
            <ion-icon class="icon-color" name="paper"></ion-icon>
            <ion-label>Reportes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>