<ion-header >
  <ion-toolbar class="header">
    <ion-buttons slot="start" (click)="back()">
      <ion-icon class="icon-color" name="close-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Sucursales</ion-title>
  </ion-toolbar>
  <ion-toolbar class="secundary" style="height: 16px;">

  </ion-toolbar>
  <div class="search-bar-container">
    <ion-searchbar placeholder="Nombre de la sucursal" inputmode="text" type="decimal" [(ngModel)]="searchText"></ion-searchbar>
</div>
</ion-header>

<ion-content>
  <ng-container *ngFor="let b of dataList">
      <ion-card *ngIf="((b.name + b.locality.name).toLowerCase()).indexOf(searchText.toLowerCase()) > -1" class="ion-no-margin" (click)="closeDialog(b)">
          <ion-grid fixed>
              <ion-row>
                  <ion-col class="card-icon" size="2">
                  
                      <ion-icon class="icon-color" name="business"></ion-icon>
                       </ion-col>
                  <ion-col size="10" >
                      <ion-text color="primary ">
                          <h6>{{ b.name }}</h6>
                      </ion-text>
                      <ion-text class="branch-text ">
                          {{ b.locality.name }}
                      </ion-text>
                  </ion-col>
                  <!-- <ion-col class="icon-arrow-container" size="1">
                      <ion-icon color="primary" name="ios-arrow-forward"></ion-icon>
                  </ion-col> -->
              </ion-row>
          </ion-grid>
      </ion-card>
  </ng-container>

</ion-content>
